
$var url = "/faq"
$var title = "FAQ"

<h1>What's up &mdash; FAQ</h1>

<h2>Why are there [No title] feeds in my feed list?</h2>

<p>If you've just added feeds, it's probably because the background
  queue hasn't gotten around to processing them yet.

<p>If the feed is red it's because the feed couldn't be loaded. The
  reason could be that the URL is wrong, or something else. Click on
  the feed to see the error message.

<p>If none of the above explain the problem,
  <a href="mailto:larsga@garshol.priv.no">send me an email</a> and
  I'll have a look.

<h2>How does the ranking actually work?</h2>

<p>There is a bit of background in
  <a href="http://www.garshol.priv.no/blog/216.html">this blog
  posting</a>. Also, if you want to know why a particular story has
  been rated the way it has, click the "[*]" under the headline in the
  story list. That will show the actual statistics, probabilities and
  overall score for the story. I've found this very helpful in
  learning what is going on "under the covers".

<h2>Why isn't my question here?</h2>

<p>Because nobody's asked it yet. Send an email to
  <a href="mailto:larsga@garshol.priv.no">me</a>, and I'll try to help.
