$def with (loginurl)

<link rel=stylesheet type="text/css" href="static/style.css">

<title>What's up</title>
<h1>What's up</h1>

<div class=health><a href="$:loginurl">Log in or sign up</a></div>

<p style="width: 50%">This is a newsreader that learns what you are
interested in, and ranks news by how interesting it thinks the news
are for you. To use it, you need to
<a href="$:loginurl">sign in</a>.

<p style="width: 50%"><b>WARNING:</b> This system is still in
development! There are no guarantees about the use. All your data may
have to be deleted if the system has to be re-architected. All use at
own risk.
