$def with (feeds, user)

<link rel=stylesheet type="text/css" href="/static/style.css">

<title>What's up - Popular feeds</title>
<div class="topmenu">
  <a href="/">Home</a> |
  <a href="/sites">Feeds</a> |
  <b>Popular</b> |
  <a href="/logout">Log out</a>
</div>
<h1>Popular feeds</h1>

<p>These are the feeds with the most subscribers. Click the plus
button to subscribe to one of them.</p>

<table>
<tr><th>Add
    <th>Feed
    <th>Subscribers
    <th>Max posts
    <th>Last checked
      
$for site in feeds:
    $ id = site.get_local_id()
    <tr>
    <td>
    $if not site.is_subscribed(user):
        <form method=post action="/addfeed">
        <input type=hidden name=url value="$(site.get_url())">
        <input type=image src="/static/star.png" border="0">
         </form>    
    <td><a href="$(site.get_link())">$(site.get_title())</a>
    <td>$(site.get_subscribers())
    <td>$(site.get_item_count())
    <td>$(site.nice_time_since_last_read())
</table>
